html {
  height: 100%;
  width: 100%;
}
html {
  background-color: darkolivegreen;
}
a:link {
      color: black;
      background-color: transparent;
      text-decoration: none;
    }
    a:visited {
      color: black;
      background-color: transparent;
      text-decoration: none;
    }
    a:hover {
      color: white;
      background-color: transparent;
      text-decoration: underline;
    }
